<div class="jumbotron mt-5">
  <div class="container">
    <h1 class="display-4">Home</h1>
    <div class="card">
      <div class="card-body">
        This is a public page in a public layout. That's why you can't logout from here, as you do not need to be authenticated.
        Normally you would have some shared logout functionality in, perhaps, a shared menu or something.
        For this assignment I decided to keep the scope small. So you can logout from the dashboard only.
      </div>
    </div>
  </div>
</div>
